@use 'node_modules/utopia-core-scss/src/utopia' as utopia;

$body_font: "Matter", sans-serif;
$heading_font: "GT America Compressed", Impact, sans-serif;
$mono_font: monospace;

$dark: #000;
$light: #FFF;
$muted: rgba(0, 0, 0, 0.25);
$grey: #CCCCCC;

$vert: #1AAA54;
$jaune: #FFFFAB;
$orange: #F2A33B;
$bleu: #36A9E1;

$base: 20px;

  
/* @link https://utopia.fyi/type/calculator?c=320,18,1.25,1920,20,1.5,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  @include utopia.generateTypeScale((
    "minWidth": 320,
    "maxWidth": 1920,
    "minFontSize": 18,
    "maxFontSize": 20,
    "minTypeScale": 1.25,
    "maxTypeScale": 1.5,
    "positiveSteps": 5,
    "negativeSteps": 2,
    "prefix": "step-",
    "relativeTo": "viewport-width"
  ));
}

// $s-3: var(--step--3);
$s-2: var(--step--2);
$s-1: var(--step--1);
$s0: var(--step-0);
$s1: var(--step-1);
$s2: var(--step-2);
$s3: var(--step-3);
$s4: var(--step-4);
$s5: var(--step-5);
$s6: var(--step-6);
// $s7: var(--step-7);

$radius: $s0;
$max: 1440px;

$mobile: 888px;

$number_of_columns: 12;